.App {
    text-align: left;
}

.jumbotron {
    margin: 20px 60px 20px 60px;
    align-content: center;
    padding-left: 100px;
}

p {
    font-size: large;
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 200px;
}

.nav-link {
    margin-left: 100px
}

h2 {
    margin-top: 30px;
    margin-left: 30px;
}

.square {
    height: 80px;
    width: 80px;
}

.image-upload {
    margin-top: 12px;
}

.img-product {
    align-self: center;
    border-radius: 0;
}

.product-container {
    margin: 20px 200px 80px 200px;
}