.App {
    text-align: left;
}

.jumbotron {
    margin-top: 50px;
}

p {
    font-size: large;
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 100px;
}

.nav-link {
    margin-left: 50px
}

h2 {
    margin-top: 30px;
    margin-left: 30px;
}

img {
    max-width: 100%;
}

.square {
    height: 80px;
    width: 80px;
}

.image-upload {
    margin-top: 12px;
}
